/* tag selector */
ul li a{
    text-decoration: none;
}
hr{
    border-color: black;
}

/*----------------------------- header css -----------------------------*/
.navBar {
    /* padding: 10px; */
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 110px;
    align-self: center;
    text-align: center;
}
.nav-search {
    width: 210px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.nav-search > img {
    height: 25px;
}
.nav-search input{
    padding: 2px;
    border-radius: 0.7rem;
}
.navLink {
    padding: 10px;
}
.navLink ul {
    width: 300px;
    display: flex;
    /* padding: 0px 5px auto; */
    list-style-type: none;
    justify-content: space-between;
}
/* 
ul li a{
    text-decoration: none;
}
hr{
    border-color: black;
} 
*/

/*----------------------------- main css -----------------------------*/
main {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 90%;
    height: 40vw;
}