* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag selector */
body {
    /* TODO: change color from online gradient*/
    background-color: rgba(205, 179, 130, 0.721);
}

/* temp */
.border {
    border: 1px solid black;
}
.border-red {
    border: 2px solid red;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}