main {
    margin: 0px;
}

.container-card {
    width: 100%;
    height: 630px;
    min-height: max-content;
    min-width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 30px 15px;
}

.img-container {
    height: 170px;
}