main {
    margin: 0px;
}

.container-card {
    width: 100%;
    height: 630px;
    min-height: max-content;
    min-width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 30px 15px;
}

.card-item {
    border-radius: 10px;
    display: flex;
    gap: 7px 0px;
    flex-direction: column;
}
.pg-img {
    height: 140px;
    border-radius: inherit;
}
.pg-address{
    width : 50px;
}
.pg-address, .pg-timing, .pg-contact {
    text-align: left;
    margin-left: 10px;
    
}

.pg-address p {
    width: 280px;
}