.main {
    height: 660px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.35fr;
    justify-items: center;

}
.contact-form {
    width: 20vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px 15px;
    justify-content: center;
    align-items: start;
    left: 10px;
}

.contact-form label {
    font-size: larger;
}

.contact-form input, .contact-form textarea {
    padding: 5px;
    border-radius: 7px;
}

textarea {
    width: 250px;
    height: 50px;
    resize: none;
}
 /* {
    text-transform: uppercase;
} */

#contact-submit-btn {
    font-size: medium;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

#contact-submit-btn:hover {
    /* background-color: black; */
    filter: invert(1);
}

/* main {
    margin: 0;
    padding: 0;
} */

/*----------------------------- dev card css -----------------------------*/
.contact-card {
    height: max-content;
}

.container-card {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.div-card { 
    image-rendering: auto;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    align-self: baseline;
}
.container-card {
    position: relative;
    z-index: 2;
}

.div-card::before {
    content: "";
    filter: blur(5px);
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url(../../../public/images/bg-sea.png);
    background-size: auto;
    background-position: center;
    z-index: 1;
}