/*----------------------------- header css -----------------------------*/
.navBar {
    padding: 10px 5px;
    /* margin: 10px 5px; */
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 110px;
    align-self: center;
    text-align: center;
    position: relative;
    left: 80px;
}
.logo a {
    color: black;
}
.logo img {
    width: 140%;
    /* height: 100%; */
    object-fit: contain;
    object-position: bottom;
}
.nav-search {
    width: 210px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: baseline;
}
.nav-search > img {
    height: 25px;
    position: relative;
    top: 8px;
}
.nav-search input{
    padding: 2px;
    background-color: #CCD0CF;
    border-radius: 0.7rem;
}
.navLink {
    padding: 10px;
}
.navLink ul {
    width: 300px;
    display: flex;
    /* padding: 0px 5px auto; */
    list-style-type: none;
    justify-content: space-between;
}
/* 
ul li a{
    text-decoration: none;
}
hr{
    border-color: black;
} 
*/