/* tag selector */
body {
    background-color: #4A5C6A;
    /* background-color: #B7B7B7; */
    /* background: #697565;  */
}
ul li a{
    text-decoration: none;
}
hr{
    border-color: black;
}

header {
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    padding: 0;
    
}

/*----------------------------- main css -----------------------------*/
main {
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-main {
    width: 90%;
    height: 40vw;
    min-width: max-content;
    min-height: max-content;
}