* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* temp */
.border {
    border: 1px solid black;
}
.border-red {
    border: 2px solid red;
}

/* tag selector */
.body {
    /* TODO: change color from online gradient*/
    background-color: rgba(205, 179, 130, 0.721);
}
legend {
    /* background-color: #06141B; */
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: #fff;
    padding: 3px 6px;
}
a {
    color:#06141B;
    text-decoration: none;
}
a:visited {
    color:#06141B;
}
main {
    /* padding-top: 15px; */
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


